.header {
  background-color: rgb(0, 0, 0);
}
.navList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navItem {
  color: white;
  background-color: rgb(33, 32, 32);
  box-shadow: whitesmoke 0 0 3em;
}
.navItem:hover,
.navItem:focus {
  box-shadow: rgb(7, 246, 55) 0 0 2em;
}
.active {
  composes: navItem;
  box-shadow: rgb(7, 246, 55) 0 0 2em;
}
