body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(38, 36, 36);
  color: white;
}
html {
  box-sizing: border-box;
  font-size: 1vw;
  /* width: 100vw; */
  /* overflow-x: hidden; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul,
a,
li,
div,
span,
form,
input {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
